@import url("paletteColor.css");

/*RESET CONFIGS*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/*STYLED GLOBALS*/
body{
    display: flex;
    justify-content: center;
    background-color: var(--background-main);
}
.container{
    width: 100%;
    max-width: 74rem;
    padding: 0 2rem;
}

/*HEADER */
.box-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

/*---- BUTTON MENU ASIDE*/
.box-button-menuAside{
    display:flex;
    flex-direction: column;
}
.box-button-menuAside .line-button-menu{
    width: 1.7rem;
    border: 2px solid var(--text-black);
    margin-bottom: .2rem;
    border-radius: 1.8rem;
}
.box-button-menuAside .line-button-menu:nth-child(2){
    width: 1.4rem;
}
.box-button-menuAside .line-button-menu:nth-child(3){
    width: 1.1rem;
}
/*---------------------------------------------*/
/*BUTTONS HEADER*/
.box-buttons-header{
    display: flex;
    gap: .9rem;
}
.button-header{
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    background-color: #fff;
    border: none;
    border-radius: 2.2rem;
    color: var(--text-black);
    font-family: 'Pacaembu Trial', sans-serif;
    font-size: .7rem;
    box-shadow: 0px 2px 9px 1px #f3f3f3;
}
.button-header img{
    margin-right: .6rem;
}
/*----------------------------------------*/

.box-logo-header{
    width: 100%;
    max-width: 12rem;
    margin: auto;
}
.box-logo-header img{
    width: 100%;
}